<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.57439718420-c76ucbng7l4ooqd217gn5nek7tuq1af4</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>57439718420-c76ucbng7l4ooqd217gn5nek7tuq1af4.apps.googleusercontent.com</string>
</dict>
</plist>
